<div class="section">

  <div class="search-bar">
    <!-- TODO: make search bar -->
    SEARCH:
    <input type="text" />
  </div>

  @if(selectedOption() == OPTIONS.select){

    <div class="cards">

      @for (product of products(); track $index){
        <span (click)=showDetails($index)>
          <app-small-product-card [product]="product" />
        </span>
      }

    </div>

  }
  @else if (selectedOption() == OPTIONS.details){

    <div class="large-card">

      <app-large-product-card [product]="selectedProduct()!"/>

      <div class="buttons">

        <div class="return-button" (click)=closeCard()>
          CLOSE
        </div>

        <div class="update-button" (click)="updateProduct()">
          UPDATE
        </div>

        <div class="delete-button" (click)="deleteProduct()">
          DELETE
        </div>

      </div>

      <div class="info">
        <span [ngClass]="requestError()?'error':'success'">
          {{successMsg()}}
        </span>
      </div>

    </div>

  }
  @else if (selectedOption() == OPTIONS.update){
    <app-product-form [product]="selectedProduct()"  (onUpdate)="onProductUpdate()"/>

    <div class="return-button" (click)=closeCard()>
      CLOSE
    </div>
  }

</div>
