$root-bg-color: #25131a;
$root-height: 720px;
$root-width: 1280px;
$global-font: url("/assets/ManaRootFont.ttf");
$navigation-bar-width: 200px;
$navigation-bar-height: 680px;

$page-width: 1020px;
$page-height: 660px;

$portrait-width: 152px;
$portrait-height: 148px;

// Asset paths
$MainBorderPath: url("/assets/GoldenBorder.png");
$SidebarBackgroundPath: url("/assets/SidebarBackground.png");
$NavigationButtonPath: url("/assets/ScrollButton.png");
$DefaultPortraitPath: url("/assets/DefaultCharacter.png");
$UsernameBanner: url("/assets/DragonBanner.png");
$RotatingCoin: url("/assets/RotatingCoin.png");
$HomePageBackground: url("/assets/ForestRoad.png");
$DefaultPageBackground: url("/assets/ForestRoad.png"); // TODO: find/make backgrounds for different pages
$DefaultSheetContainer: url("/assets/ManaSlicesSheet.png");
