<form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">

  <div class="form-row">
    <label for="name">NAME:</label>
    <input type="text" id="name" name="name" ngModel>
  </div>

  <div class="form-row">
    <label for="description">DESCRIPTION:</label>
    <textarea id="description" name="description" ngModel ></textarea>
  </div>

  <div class="form-row">
    <label for="image">IMAGE:</label>
    <input type="file" id="image" name="image" accept="image/*" (change)="handleImage($event)" ngModel>
  </div>

  <div class="form-row">
    <label for="price">PRICE:</label>
    <input type="number" id="price" name="price" ngModel>
  </div>

  <div class="form-row">
    <label for="category">CATEGORY:</label>
    <select id="category" name="category" ngModel>
      @for (category of categories(); track $index){
      <option value={{category.id}}>{{category.name}}</option>
      }
    </select>
  </div>

  <input type="submit" value="CREATE"/>

  <div class="msg">
    <span [ngClass]="requestError()?'error':'success'">
      {{successMsg()}}
    </span>
  </div>

</form>
