<section>
<div class="text-container">

<div class="products-table">
  <table>
    <thead>
      <tr>
        <th class="col-image"></th>
        <th class="col-name">PRODUCT</th>
        <th class="col-desc">DESCRIPTION</th>
        <th class="col-price">PRICE</th>
        <th class="col-quantity">QUANTITY</th>
        @if (isAuthenticated()){
          <th class="col-operation">OPERATION</th>
        }
      </tr>
    </thead>
    <tbody>
        @for (product of products(); track $index){
        <tr>
          <td class="col-image">
            <img src="{{product.image}}" width="32" height="32" alt="Product image"/>
          </td>
          <td class="col-name">
            <div class="name-row">
              <span class="title">{{product.name}}</span>
            </div>
          </td>
          <td class="col-desc">{{product.description}}</td>
          <td class="col-price">{{product.currentPrice}}g</td>
          <td class="col-quantity">{{product.quantity}}</td>
          @if (isAuthenticated()){
            <td class="col-operation"><app-buy-product-form [product]=product /></td>
          }
        </tr>
        }
    </tbody>
  </table>
</div>
</div>

</section>
